# Ignore everything
*

# Keep gitignore
!.gitignore

# Keep selected folders
!Contact_extraction/
!Contact_extraction/**
!Seizure_detection/
!Seizure_detection/**
!Data/
!Data/**

# Ignore Python cache everywhere
**/__pycache__/
**/*.pyc

