# Ignore everything
*

# Keep gitignore
!.gitignore

# Keep selected folders
!data/
!data/**
!src/
!src/**
!.gitattributes
!requirements.txt

# Ignore Python cache everywhere
**/__pycache__/
**/*.pyc

