# Ignore everything
*

# Keep gitignore
!.gitignore

# Keep selected folders
!Contact_extraction/
!Contact_extraction/**
!Seizure_detection/
!Seizure_detection/**
!Data/
!Data/**

# Ignore Python cache everywhere
**/__pycache__/
**/*.pyc

# Large data/model files
*.edf
*.nii
*.nii.gz
*.h5
*.pth
*.ckpt
*.index
*.data-00000-of-00001